<%= stylesheet_link_tag 'embed'%>
<%= javascript_include_tag 'porthole.min'%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div id="embed-sticker-menu">
  <div id='add-sticker' class="web-menu">
  </div>
</div>
