<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Scribblets</a></li>
    <li><a href="#"><i class="fa fa-globe fa-lg"> Sites</i></a></li>
    <li><a href="#"><i class="fa fa-tags fa-lg"> Tags</i></a></li>
  </ul>
</div>
